.me-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 8px;
  filter: drop-shadow(1px 1px 1px black);
  border-radius: 5%;
}

.section-contact .icon-arrow{
  margin-top: 2%;
  margin-left: 2%;
}

.section-contact .skill-nav li{
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  margin-top: 5%;
}

.section-contact .skill-nav li a{
  color: $white;
}

.section-contact h5 {
  font-size: 120%;
  margin-left: 5%;
  text-shadow: 2px 2px #000000;
}


@media only screen and (max-width: 767px) {
  .me-img {
    display: none;
  }
}

