.loadingScreen {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
  width: 100%;
  height: 100%;
}

.loadingScreen-title {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  font-size: $m-size;
  color: #dfdfdf;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
}
.loadingScreen__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}