

.sliderMobile {
  height: 70vh;
  position: relative;
}

.sliderMobile button {
  background: none;
}

.slider-mobile-prim {
  height: 95vh !important;
}

.btn-top {
  position: absolute;
  top: 1%;
  left: 47%;
  width: 6%;
}

.arrow-top {
  position: relative;
}

.btn-bot {
  position: absolute;
  bottom: 1%;
  left: 47%;
  width: 6%;
  background: none;
}

.arrow-bottom {
  position: relative;
}



.project-img {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}