

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


html,
body {
  color: #cbcbcb;
  font-family: 'Nova Script', cursive;
  font-weight: 300;
  font-size: $s-size;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}


/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Merienda', cursive;
  text-shadow: 2px 2px #000000;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 120%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  text-align: center;
  font-size: 110%;
  margin-bottom: 15px;

}
h4 {
  word-spacing: 2px;
  text-align: center;
  font-size: 100%;
  text-shadow: 2px 2px 2px black;
}

h5 {
  margin-top: 5%;
  font-size: 80%;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
/* ----- PARAGRAPHS ----- */
.long-copy {
  text-shadow: 2px 2px #000000;
  font-family: 'Mali', cursive;
  text-align: center;
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.project-text {
  margin-top: 5%;
  font-size: 80%;
  line-height: 125%;
  width: 80%;
  margin-left: 10%;
}
/* ----- LINKS----- */
a {
  outline: none;
  text-decoration: none;
}
/* ----- PROJECT STATES ----- */

.completed{
  color: #1f6320;
  text-shadow: 2px 2px 2px black;
}

.in-progress {
  color: #787322;
  text-shadow: 2px 2px 2px black;
}

/* ----- ICONS ----- */
.icon-big {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: $white;
  font-size: 120%;
  margin-right: 10px;
  filter: drop-shadow(2px 2px #000000);
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}